name: Create Pull Request on Test Success

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Run tests
      run: dotnet test TestStrings/TestStrings.csproj

    - name: Create Pull Request
      if: success()
      uses: peter-evans/create-pull-request@v6
      with:
          branch: main
          token: ${{ secrets.GITHUB_TOKEN }}
